section{
    width: 1400px;
    height: 600px;
    background-color: blueviolet;
}
    article{
        width: 100px;
        height: 100px;
        background-color: green;
        float: left;
        margin: 5px;
    }
    #photo{
        background-image: url("images/rajani.jpg");
        height: 200px;
        width: 200px;
    }